@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: hobo;
    src: url('/fonts/hobo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer base {    
    :root {
        --scrollbarTrack: transparent;
        --scrollbarThumb: hsla(var(--p));
        --scrollbarThumbHover: hsla(var(--p));
   }

    #root{
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }
}

@layer utilities{    
    .scroll::-webkit-scrollbar {
        width: 5px;
        border-radius: var(--rounded);
    }
      
          
    /* Track */
    .scroll::-webkit-scrollbar-track {
        background: var(--scrollbarTrack);
        border-radius: var(--rounded);
    }
        
    /* Handle */
    .scroll::-webkit-scrollbar-thumb {
        background: var(--scrollbarThumb);
        border-radius: var(--rounded-btn);
    }
        
    /* Handle on hover */
    .scroll::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbarThumbHover);
    }
    
    .scroll::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{      
        background: var(--scrollbarThumbHover);
    }
}

@layer components {
    .textarea.textaerea-fixed{
        resize: none;
    }

    .ad.responsive, .responsive.ad div{
        max-width: 100%;
        height: auto !important;
    }

    .grid-chat{
        grid-template-rows: auto 1fr;
    }

    .grid-chat.text-only{
        grid-template-rows: 3fr auto;
    }

    @media (min-width: 768px) {
        .grid-chat.text-only{
            grid-template-columns: 1fr !important;
        }

        .grid-chat{        
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 3fr auto;
        }

        .grid-chat .resizable .handle{
            position: absolute;
            width: 1rem;    
            left: 100%;
            cursor: col-resize;
            top: calc(30vh - 0.5rem);
        }

        .grid-chat .resizable .handle:after, .grid-chat .resizable .handle:before{
            position: relative;
            display: block;
            content: "";
            width: 2px;
            height: 10vh;        
            left: calc(50% - 1px);
            background-color: hsl(var(--bc) / 0.2);
            border-radius: 1px;
        }
    }

    .logo{
        text-transform: none !important;
        font-weight: normal;
        line-height: 1rem !important;
        font-family: hobo;
    }
}