@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {    
    :root {
        --scrollbarTrack: transparent;
        --scrollbarThumb: hsla(var(--p));
        --scrollbarThumbHover: hsla(var(--p));
   }

    #root{
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }
}

@layer utilities{    
    .scroll::-webkit-scrollbar {
        width: 5px;
        border-radius: var(--rounded);
    }
      
          
    /* Track */
    .scroll::-webkit-scrollbar-track {
        background: var(--scrollbarTrack);
        border-radius: var(--rounded);
    }
        
    /* Handle */
    .scroll::-webkit-scrollbar-thumb {
        background: var(--scrollbarThumb);
        border-radius: var(--rounded-btn);
    }
        
    /* Handle on hover */
    .scroll::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbarThumbHover);
    }
    
    .scroll::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{      
        background: var(--scrollbarThumbHover);
    }
}

@layer components {
    .textarea.textaerea-fixed{
        resize: none;
    }
}