@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: hobo;
    src: url('/fonts/hobo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer base {    
    :root {
        --scrollbarTrack: transparent;
        --scrollbarThumb: hsla(var(--p));
        --scrollbarThumbHover: hsla(var(--p));
   }

    #root{
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }
}

@layer utilities{    
    .scroll::-webkit-scrollbar {
        width: 5px;
        border-radius: var(--rounded);
    }
      
          
    /* Track */
    .scroll::-webkit-scrollbar-track {
        background: var(--scrollbarTrack);
        border-radius: var(--rounded);
    }
        
    /* Handle */
    .scroll::-webkit-scrollbar-thumb {
        background: var(--scrollbarThumb);
        border-radius: var(--rounded-btn);
    }
        
    /* Handle on hover */
    .scroll::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbarThumbHover);
    }
    
    .scroll::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{      
        background: var(--scrollbarThumbHover);
    }
}

@layer components {
    .countdown *:before{
        content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A 51\A 52\A 53\A 54\A 55\A 56\A 57\A 58\A 59\A 60\A 61\A 62\A 63\A 64\A 65\A 66\A 67\A 68\A 69\A 70\A 71\A 72\A 73\A 74\A 75\A 76\A 77\A 78\A 79\A 80\A 81\A 82\A 83\A 84\A 85\A 86\A 87\A 88\A 89\A 90\A 91\A 92\A 93\A 94\A 95\A 96\A 97\A 98\A 99\A";
        display: flex;
        text-align: left;
    }

    .textarea.textaerea-fixed{
        resize: none;
    }

    .ad.responsive, .responsive.ad div{
        max-width: 100%;
        height: auto !important;
    }

    .grid-chat{
        grid-template-rows: auto 1fr;
    }

    .grid-chat.text-only{
        grid-template-rows: 3fr auto;
    }

    @media (min-width: 768px) {
        .grid-chat.text-only{
            grid-template-columns: 1fr !important;
        }

        .grid-chat{        
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 3fr auto;
        }

        .grid-chat .resizable .handle{
            position: absolute;
            width: 1rem;    
            left: 100%;
            cursor: col-resize;
            top: calc(30vh - 0.5rem);
        }

        .grid-chat .resizable .handle:after, .grid-chat .resizable .handle:before{
            position: relative;
            display: block;
            content: "";
            width: 2px;
            height: 10vh;        
            left: calc(50% - 1px);
            background-color: hsl(var(--bc) / 0.2);
            border-radius: 1px;
        }
    }

    .logo{
        text-transform: none !important;
        font-weight: normal;
        line-height: 1rem !important;
        font-family: hobo;
    }
}